* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

.header {
    background-color: rgb(56, 1, 56);
    padding: 25px;

}

.logo img {
    width: 250px;
}

    nav {
        display: flex;
        justify-content: space-between;
    }

    a {
        margin-top: 5px;
    }

    body {
        background-color: white;
    }